*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  background: #F2F2F2;
}

a {
  text-decoration: none;
}

header {
  background-color: #F2F2F2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 43.56px;
  padding-bottom: 43.44px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1141px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'Fraunces 9pt Soft';
  src: url("../fonts/Fraunces9ptSoft-Black.woff2") format("woff2"), url("../fonts/Fraunces9ptSoft-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main-header__hamburger {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  display: none;
  outline: none;
}

.main-header__hamburger::before,
.main-header__hamburger__inner,
.main-header__hamburger::after {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #000;
  display: block;
  margin-bottom: 3px;
  border-radius: 1.5px;
}

.main-header__hamburger::after {
  margin-bottom: 0;
}

@media screen and (max-width: 689px) {
  .main-header__hamburger {
    display: block;
  }
}

.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__nav {
  margin-left: auto;
}

.main-header__nav-item {
  margin-right: 33px;
}

.main-header__nav-item:last-child {
  margin-right: 0;
}

.main-header__nav-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #83888F;
}

.main-header__nav-link:active {
  color: #333D4B;
}

.main-header__nav-link-active {
  color: #333D4B;
}

@media screen and (max-width: 689px) {
  .main-header__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 117px);
    z-index: 3;
  }
  .main-header__nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #F2F2F2));
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #F2F2F2 55.94%);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;
  }
  .main-header__nav--active {
    display: block;
  }
  .main-header {
    position: relative;
  }
  .main-header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .main-header__nav-item {
    margin: 0;
    font-family: "Fraunces 9pt Soft";
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 32px;
  }
}

.coffee-made {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.coffee-made__container {
  background-image: url(../img/creat_coffee.jpg);
  background-repeat: no-repeat;
  padding-bottom: 116px;
  border-radius: 10px;
}

.coffee-made__title {
  font-family: 'Fraunces 9pt Soft';
  margin: 0;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  width: 493px;
}

.coffee-made__desc {
  width: 430px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 56px;
}

.coffee-made__coffee-link {
  font-family: 'Fraunces 9pt Soft';
  padding: 15px 31px 16px;
  color: #fff;
  background: #0E8784;
  border-radius: 6px;
}

.coffee-made__block {
  padding-left: 85px;
  padding-top: 117px;
}

.coffee-made__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee-made__coffee-link:active {
  background-color: #66D2CF;
}

@media screen and (max-width: 1280px) {
  .coffee-made__container {
    background-image: url(../../img/creat_coffee_tablet.png);
  }
  .coffee-made__title {
    font-size: 48px;
    line-height: 48px;
    width: 329px;
  }
  .coffee-made__desc {
    font-size: 15px;
    width: 398px;
  }
}

@media screen and (max-width: 689px) {
  .coffee-made__container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .coffee-made__block {
    padding-top: 111px;
    padding-left: 0;
  }
  .coffee-made__title {
    font-size: 40px;
    line-height: 40px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .coffee-made__desc {
    text-align: center;
    font-size: 15px;
    width: auto;
    margin: 0 auto;
  }
  .coffee-made__coffee-link {
    font-family: 'Fraunces 9pt Soft';
    padding: 15px 31px 16px;
    color: #fff;
    background: #0E8784;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 39px;
  }
}

.our-collection__title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;
}

.our-collection__desc {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  width: 255px;
  text-align: center;
}

.our-collection__item {
  width: 255px;
  margin-right: 30px;
  position: relative;
}

.our-collection__item:last-child {
  margin-right: 0;
}

.our-collection__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__our-collection {
  margin-top: 136px;
  margin-bottom: 200.45px;
  position: relative;
}

.our-collection__element-title {
  text-align: center;
  font-size: 150px;
  color: #83888F;
  font-family: 'Fraunces 9pt Soft';
  font-weight: 900;
  position: relative;
  opacity: 0.5;
  margin: 0;
  bottom: -80px;
}

.our-collection__element-title::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#F2F2F2));
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #F2F2F2 100%);
}

@media screen and (max-width: 1280px) {
  .our-collection__element-title {
    font-size: 96px;
  }
  .our-collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-collection__item {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-collection__desc {
    text-align: start;
  }
  .our-collection__title {
    text-align: start;
    margin-bottom: 24px;
  }
  .our-collection__item:last-child {
    margin: 0 auto;
  }
  .our-collection__list {
    margin-top: 25px;
  }
}

@media screen and (max-width: 689px) {
  .our-collection__element-title {
    font-size: 40px;
    top: -1px;
  }
  .our-collection__item {
    display: block;
  }
  .our-collection__desc {
    text-align: center;
  }
  .our-collection__title {
    text-align: center;
    margin-bottom: 24px;
  }
  .our-collection__item {
    margin-bottom: 48px;
  }
}

.content-choose {
  width: 100%;
  background-color: #2C343E;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 317px;
  padding-right: 85px;
  padding-left: 85px;
}

.content-choose__title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: #fff;
  padding-bottom: 32px;
}

.content-choose__desc {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  width: 540px;
  text-align: center;
}

.content-choose__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-choose__item {
  width: 350px;
  background: #0E8784;
  border-radius: 8px;
  padding-bottom: 48px;
  margin-right: 30px;
}

.content-choose__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.content-choose__item-title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.content-choose__item::before {
  content: "";
  display: block;
  background-size: contain;
  background: no-repeat center center;
  margin: 0 auto;
}

.content-choose__item-best-quality::before {
  content: "";
  background-image: url(../img/best_quality.svg);
  width: 72px;
  height: 72px;
  margin-top: 72px;
  margin-bottom: 56px;
}

.content-choose__item-exclusive::before {
  content: "";
  background-image: url(../img/exclusive.svg);
  width: 72px;
  height: 72px;
  margin-top: 72px;
  margin-bottom: 56px;
}

.content-choose__item-shipping::before {
  content: "";
  background-image: url(../img/shipping.svg);
  width: 72px;
  height: 72px;
  margin-top: 72px;
  margin-bottom: 56px;
}

.content-choose__item-desc {
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.content-choose__wrapper {
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 200px;
}

@media screen and (max-width: 1280px) {
  .content-choose {
    padding-bottom: 368px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 74px;
    padding-left: 74px;
  }
  .content-choose__item {
    width: 100%;
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    padding: 41px 48px 41px 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-choose__list {
    padding: 0;
    left: 0;
  }
  .content-choose__desc {
    margin: 0 auto;
    width: auto;
  }
  .content-choose__item-desc {
    text-align: start;
  }
  .content-choose__item-title {
    text-align: start;
    margin-bottom: 16px;
  }
  .content-choose__item::before {
    content: "";
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 56px;
  }
  .content-choose__item-desc {
    width: auto;
  }
  .content-choose__wrapper {
    padding: 0 58px;
    margin-bottom: 144px;
  }
}

@media screen and (max-width: 689px) {
  .content-choose {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content-choose__item {
    padding-right: 32px;
    padding-left: 32px;
    display: block;
  }
  .content-choose__list {
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }
  .content-choose__item:last-child {
    margin-bottom: 0;
  }
  .content-choose__item::before {
    content: "";
    display: block;
    margin: 0 auto;
  }
  .content-choose__item-title {
    text-align: center;
    margin-top: 58px;
  }
  .content-choose__item-desc {
    text-align: center;
  }
  .content-choose__wrapper {
    padding: 0 24px;
    margin-bottom: 120px;
  }
}

.content-how-it-works {
  margin-bottom: 200px;
}

.content-how-it-works__title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 0;
  margin-bottom: 80px;
}

.content-how-it-works__round-item {
  width: 31px;
  height: 31px;
  display: block;
  border-radius: 50%;
  border: 2px solid #0E8784;
  background-color: #FEFCF7;
  margin-right: 349px;
}

.content-how-it-works__round-item:last-child {
  margin-right: 0;
}

.content-how-it-works__round-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-how-it-works__round-list::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15.5px;
  height: 1px;
  width: 760px;
  border: 2px solid #FDD6BA;
}

.content-how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
  margin-bottom: 64px;
}

.content-how-it-works__item {
  width: 285px;
  margin-right: 95px;
  position: relative;
}

.content-how-it-works__item:last-child {
  margin-right: 0;
}

.content-how-it-works__list-title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin: 0;
  width: 255px;
  margin-top: 110px;
  margin-bottom: 42px;
}

.content-how-it-works__elemet-01::before {
  content: '01';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__elemet-02::before {
  content: '02';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__elemet-03::before {
  content: '03';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__list-desc {
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin: 0;
}

.content-how-it-works__coffee-link:active {
  background: #66D2CF;
}

@media screen and (max-width: 1280px) {
  .content-how-it-works__item {
    width: 233px;
    margin-right: 10px;
  }
  .content-how-it-works__list-desc {
    font-size: 15px;
  }
  .content-how-it-works__list-title {
    width: auto;
  }
  .content-how-it-works__round-list {
    display: none;
  }
}

@media screen and (max-width: 689px) {
  .content-how-it-works__title {
    margin-top: 100%;
    text-align: center;
  }
  .content-how-it-works__round-list {
    display: none;
  }
  .content-how-it-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-how-it-works__item:last-child {
    margin-bottom: 0;
  }
  .content-how-it-works__item {
    margin: 0 auto;
    margin-bottom: 56px;
  }
  .content-how-it-works__item:last-child {
    margin: 0 auto;
  }
  .content-how-it-works__list-title {
    text-align: center;
    width: auto;
  }
  .content-how-it-works__list-desc {
    text-align: center;
  }
  .content-how-it-works__elemet-01::before {
    margin: 0 auto;
  }
  .content-how-it-works__coffee-link {
    margin: 0 auto;
  }
  .content-how-it-works__item::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.main-footer {
  background-color: #2C343E;
  max-width: 1280px;
  padding: 47px 0;
  margin: 0 auto;
}

.main-footer__nav {
  margin-left: 102.9px;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__social-item {
  margin-right: 24px;
}

.main-footer__social-item:last-child {
  margin-right: 0;
}

.main-footer__nav-link:active {
  color: #FEFCF7;
}

.content-how-it-works__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-how-it-works__coffee-link {
  font-family: 'Fraunces 9pt Soft';
  padding: 15px 31px 16px;
  color: #fff;
  background: #0E8784;
  border-radius: 6px;
}

.main-footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__nav {
  margin-left: 103px;
}

.main-footer__nav-item {
  margin-right: 33px;
}

.main-footer__nav-item:last-child {
  margin-right: 0;
}

.main-footer__nav-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #83888F;
}

.main-footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .main-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer__nav-list {
    margin: 0 auto;
  }
  .main-footer__nav-item {
    margin-right: 0;
    text-align: center;
    margin-right: 32px;
  }
  .main-footer__nav-item:last-child {
    margin-bottom: 0;
  }
  .main-footer__nav {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 65px;
  }
  .main-footer__social-list {
    margin-left: 0;
  }
}

@media screen and (max-width: 689px) {
  .main-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .main-footer__nav-item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 24px;
  }
  .main-footer__nav-item:last-child {
    margin-bottom: 0;
  }
  .main-footer__nav {
    margin-left: 0;
    margin-top: 48.44px;
    margin-bottom: 48.56px;
  }
  .main-footer__social-list {
    margin-left: 0;
  }
}

.about-us {
  background-image: url(../img/about-us/about-us.png);
  border-radius: 10px;
  padding: 137px 0;
  max-width: 1280px;
  padding-left: 85px;
  margin: 0 auto;
}

.about-us__title {
  font-family: 'Fraunces 9pt Soft';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.about-us__desc {
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .about-us__title {
    font-size: 32px;
    line-height: 40px;
  }
  .about-us__desc {
    font-size: 15px;
    line-height: 25px;
    width: 398px;
  }
}

@media screen and (max-width: 689px) {
  .about-us {
    padding-left: 24px;
    padding-right: 24px;
  }
  .about-us__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .about-us__desc {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    width: auto;
  }
}

.our-commitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 168px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 256px;
}

.our-commitment__block {
  margin-left: auto;
}

.our-commitment__title {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-family: "Fraunces 9pt Soft";
  color: #333D4B;
  margin-bottom: 32px;
}

.our-commitment__desc {
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  width: 540px;
  margin: 0;
}

.our-commitment__img {
  border-radius: 8px;
}

@media screen and (max-width: 1280px) {
  .our-commitment__desc {
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    width: 339px;
    margin: 0;
  }
  .our-commitment {
    margin-bottom: 304px;
  }
  .our-commitment__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (max-width: 689px) {
  .our-commitment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-commitment__block {
    margin-top: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  .our-commitment__title {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }
  .our-commitment__desc {
    text-align: center;
    width: auto;
  }
}

.uncompromising-quality {
  background-color: #2C343E;
  padding-top: 88px;
  padding-bottom: 176px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 168px;
}

.uncompromising-quality__block {
  margin-left: 85px;
}

.uncompromising-quality__title {
  margin: 0;
  font-family: "Fraunces 9pt Soft";
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.uncompromising-quality__desc {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  color: #FEFCF7;
}

.uncompromising-quality__img {
  position: absolute;
  top: 0;
  margin-top: -88px;
  border-radius: 8px;
  right: 85px;
}

@media screen and (max-width: 1280px) {
  .uncompromising-quality__img {
    margin-top: -160px;
    left: 50%;
    right: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .uncompromising-quality {
    padding-top: 224px;
    padding-bottom: 67px;
  }
  .uncompromising-quality__desc {
    margin: 0 auto;
    font-size: 15px;
    line-height: 25px;
  }
  .uncompromising-quality__title {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }
  .uncompromising-quality__block {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 689px) {
  .uncompromising-quality__img {
    margin-top: -78px;
  }
  .uncompromising-quality {
    padding-top: 142px;
    padding-bottom: 61px;
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .uncompromising-quality__desc {
    font-size: 15px;
    line-height: 25px;
    width: auto;
  }
  .uncompromising-quality__title {
    font-size: 28px;
    line-height: 28px;
  }
}

.our-headquarters {
  margin-bottom: 168px;
}

.our-headquarters__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 95px;
}

.our-headquarters__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  font-family: "Fraunces 9pt Soft";
  margin-bottom: 72px;
}

.our-headquarters__item-title {
  font-family: "Fraunces 9pt Soft";
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.our-headquarters__item {
  width: 285px;
  margin-right: 95px;
  position: relative;
}

.our-headquarters__item:last-child {
  margin-right: 0;
}

.our-headquarters__item-desc {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.our-headquarters__item::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  margin-top: -95px;
}

.our-headquarters__item-01::before {
  background-image: url(/img/about-us/uk.png);
  width: 42px;
  height: 51px;
}

.our-headquarters__item-02::before {
  background-image: url(/img/about-us/canada.png);
  width: 52px;
  height: 50px;
}

.our-headquarters__item-03::before {
  background-image: url(/img/about-us/australia.png);
  width: 48.97px;
  height: 43.94px;
}

@media screen and (max-width: 1280px) {
  .our-headquarters__item-title {
    font-size: 24px;
  }
  .our-headquarters__item {
    width: 222px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 689px) {
  .our-headquarters__title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .our-headquarters__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .our-headquarters__item {
    margin-bottom: 80px;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }
  .our-headquarters__item:last-child {
    margin-bottom: 0;
    margin: 0 auto;
  }
  .our-headquarters__item::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=main.css.map */