@import "mixin";
@import "generals";
@import "blocks-all/blocks-all";


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1171px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-header {
  padding-top: 43.56px;
  display: flex;
  align-items: center;
  padding-bottom: 43.44px;
}

.coffee-made {
  @include main-container();
}

.content-how-it-works {
  margin-bottom: 200px;
  width: 1045px;
}

.main-footer {
  background-color: #2C343E;
  padding: 47px 0;
  margin-bottom: 88px;
}

.main-footer__container {
  align-items: center;
  display: flex;
}