.about-us {
  background-image: url(../img/about-us/about-us.png);
  border-radius: 10px;
  padding: 137px 0;
  width: 1280px;
  padding-left: 85px;
  margin: 0 auto;
}

.about-us-title {
  font-family: 'Fraunces 9pt Soft';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.about-us-desc {
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}