.about-us {
  background-image: url(../img/about-us/about-us.png);
  border-radius: 10px;
  padding: 137px 0;
  max-width: 1280px;
  padding-left: 85px;
  margin: 0 auto;
}


.about-us__title {
  font-family: 'Fraunces 9pt Soft';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.about-us__desc {
  width: 445px;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}


@media screen and (max-width: $tablet) {
  .about-us__title {
    font-size: 32px;
    line-height: 40px;
  }

  .about-us__desc {
    font-size: 15px;
    line-height: 25px;
    width: 398px;
  }
}

@media screen and (max-width: $mobile) {
  .about-us {
    padding-left: 24px;
    padding-right: 24px;
  }

  .about-us__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }

  .about-us__desc {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    width: auto;
  }
}