.coffee-made {
  @include main-container();
}

.coffee-made__container {
  background-image: url(../img/creat_coffee.jpg);
  background-repeat: no-repeat;
  padding-bottom: 116px;
  border-radius: 10px;
}

.coffee-made__title {
  font-family: 'Fraunces 9pt Soft';
  margin: 0;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  width: 493px;
}

.coffee-made__desc {
  width: 430px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 56px;
}

.coffee-made__coffee-link {
  font-family: 'Fraunces 9pt Soft';
  padding: 15px 31px 16px;
  color: #fff;
  background: #0E8784;
  border-radius: 6px;
}

.coffee-made__block {
  padding-left: 85px;
  padding-top: 117px;
}

.coffee-made__link {
  display: flex;
}

@media screen and (max-width: 1310px) { // Tablet
  .coffee-made__title {
    font-size: 48px;
    line-height: 48px;
    width: 329px;
  }

  .coffee-made__desc {
    font-size: 15px;
    width: 398px;
  }
}

@media screen and (max-width: 719px) {  // Mobile
  .coffee-made__block{
    padding-left: 0;
  }
  
  .coffee-made__title {
    font-size: 40px;
    line-height: 40px;
    width: 279px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .coffee-made__desc {
    text-align: center;
    font-size: 15px;
    width: 279px;
    margin: 0 auto;
  }

  .coffee-made__coffee-link {
    font-family: 'Fraunces 9pt Soft';
    padding: 15px 31px 16px;
    color: #fff;
    background: #0E8784;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 39px;
  }
}