.coffee-made {
  @include main-container();
}

.coffee-made__container {
  background-image: url(../img/creat_coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 116px;
  border-radius: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .coffee-made__container {
    background-image: url(../../img/creat_coffee@2x.jpg);
  }

}

.coffee-made__title {
  font-family: 'Fraunces 9pt Soft';
  margin: 0;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  width: 493px;
}

.coffee-made__desc {
  width: 430px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 56px;
}

.coffee-made__coffee-link {
  font-family: 'Fraunces 9pt Soft';
  padding: 15px 31px 16px;
  color: #fff;
  background: #0E8784;
  border-radius: 6px;
}

.coffee-made__block {
  padding-left: 85px;
  padding-top: 117px;
}

.coffee-made__link {
  display: flex;
}

.coffee-made__coffee-link:active {
  background-color: #66D2CF;
}

@media screen and (max-width: $tablet) {
  // Tablet



  .coffee-made__container {
    background-image: url(../../img/creat_coffee_tablet.png);
    padding-bottom: 104px;
  }

  .coffee-made__title {
    font-size: 48px;
    line-height: 48px;
    width: 329px;
  }

  .coffee-made__desc {
    font-size: 15px;
    width: 398px;
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .coffee-made__block {
    padding-left: 58px;
    padding-top: 104px;
  }

  .coffee-made__container {
    width: 668px;
    margin: 0 auto;
  }


  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

    .coffee-made__container {
      background-image: url(../../img/creat_coffee_tablet@2x.jpg);
    }

  }
  
}

@media screen and (max-width: $mobile) {
  // Mobile

  
  .coffee-made__container {
    background-image: url(../../img/creat_coffee_mobile.png);
    width: 327px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
  }
  
  .coffee-made__block {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 99px;
    padding-left: 0;
  }
  
  .coffee-made__title {
    font-size: 40px;
    line-height: 40px;
    width: 279px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .coffee-made__desc {
    text-align: center;
    font-size: 15px;
    width: 279px;
    margin: 0 auto;
    
  }
  
  .coffee-made__coffee-link {
    font-family: 'Fraunces 9pt Soft';
    padding: 15px 31px 16px;
    color: #fff;
    background: #0E8784;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 39px;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

    .coffee-made__container {
      background-image: url(../../img/creat_coffee_mobile@2x.jpg);
    }

  }

}