.content-choose {
  width: 100%;
  background-color: #2C343E;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 317px;
  position: relative;
  margin-bottom: 351px;
}

.content-choose__title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: #fff;
  padding-bottom: 32px;
}

.content-choose__desc {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  width: 540px;
  text-align: center;
}

.content-choose__list {
  @include reset-list;
  margin-top: 86px;
  padding-left: 85px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.content-choose__item {
  position: relative;
  width: 350px;
  background: #0E8784;
  border-radius: 8px;
  padding-bottom: 48px;
  padding-top: 200px;
  margin-right: 30px;
}

.content-choose__item:last-child{
  margin-right: 0;
}

.content-choose__item-title{
  font-family: 'Fraunces 9pt Soft';
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.content-choose__item-best-quality::before{
  content: "";
  background-image: url(../img/best_quality.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 71px;
  height: 72px;
  position: absolute;
  top: 72px;
  left: 136px;
}
.content-choose__item-exclusive::before{
  content: "";
  background-image: url(../img/exclusive.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 72px;
  left: 136px;
}
.content-choose__item-shipping::before{
  content: "";
  background-image: url(../img/shipping.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 72px;
  height: 50px;
  position: absolute;
  top: 83px;
  left: 136px;
}

.content-choose__item-desc{
  width: 255px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}