.main-footer {
  background-color: #2C343E;
  max-width: $tablet;
  padding: 47px 0;
  margin: 0 auto;
}


.main-footer__nav {
  margin-left: 102.9px;
}


.main-footer__social-list {
  @include reset-list;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.main-footer__social-item {
  margin-right: 24px;
}

.main-footer__social-item:last-child {
  margin-right: 0;
}

.main-footer__nav-link:active {
  color: #FEFCF7;
}

.content-how-it-works__link {
  display: flex;
}

.content-how-it-works__coffee-link {
  font-family: 'Fraunces 9pt Soft';
  padding: 15px 31px 16px;
  color: #fff;
  background: #0E8784;
  border-radius: 6px;
}

.main-footer__nav-list {
  @include reset-list;
  display: flex;
}

.main-footer__nav {
  margin-left: 103px;
}

.main-footer__nav-item {
  margin-right: 33px;
}

.main-footer__nav-item:last-child {
  margin-right: 0;
}

.main-footer__nav-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #83888F;
}

.main-footer__container {
  align-items: center;
  display: flex;
}

.main-footer__social-link {
  fill: #FEFCF7;
  width: 24px;
  height: 24px;
}

.main-footer__social-link:active {
  fill: #FDD6BA;
}

@media screen and (max-width: $tablet) {
  .main-footer__container {
    flex-direction: column;
  }

  .main-footer__nav-list {
    margin: 0 auto;
  }

  .main-footer__nav-item {
    margin-right: 0;
    text-align: center;
    // margin-bottom: 24px;
    margin-right: 32px;
  }

  .main-footer__nav-item:last-child {
    margin-bottom: 0;
  }

  .main-footer__nav {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 65px;
  }

  .main-footer__social-list {
    margin-left: 0;
  }
}


@media screen and (max-width: $mobile) {

  // Mobile
  .main-footer__container {
    flex-direction: column;
  }

  .main-footer__nav-list {
    flex-direction: column;
    margin: 0 auto;
  }

  .main-footer__nav-item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 24px;
  }

  .main-footer__nav-item:last-child {
    margin-bottom: 0;
  }

  .main-footer__nav {
    margin-left: 0;
    margin-top: 48.44px;
    margin-bottom: 48.56px;
  }

  .main-footer__social-list {
    margin-left: 0;
  }
}