.content-how-it-works {
  margin-bottom: 200px;
  // width: 1045px;
}

.content-how-it-works__title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 0;
  margin-bottom: 80px;
}

.content-how-it-works__round-item {
  width: 31px;
  height: 31px;
  display: block;
  border-radius: 50%;
  border: 2px solid #0E8784;
  background-color: #FEFCF7;
  margin-right: 349px;
}

.content-how-it-works__round-item:last-child {
  margin-right: 0;
}

.content-how-it-works__round-list {
  display: flex;
  position: relative;
}

.content-how-it-works__round-list::before {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15.5px;
  content: '';
  height: 1px;
  width: 760px;
  border: 2px solid #FDD6BA;
}

.content-how-it-works__list {
  @include reset-list;
  display: flex;
  margin-top: 67px;
  margin-bottom: 64px;
}

.content-how-it-works__item {
  width: 285px;
  margin-right: 95px;
  position: relative;
}

.content-how-it-works__item:last-child {
  margin-right: 0;
}

.content-how-it-works__list-title {
  font-family: 'Fraunces 9pt Soft';
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin: 0;
  width: 255px;
  margin-top: 110px;
  margin-bottom: 42px;
}

.content-how-it-works__elemet-01::before {
  content: '01';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__elemet-02::before {
  content: '02';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__elemet-03::before {
  content: '03';
  display: block;
  position: absolute;
  color: #FDD6BA;
  font-size: 72px;
  line-height: 72px;
  top: 0;
  font-family: 'Fraunces 9pt Soft';
}

.content-how-it-works__list-desc {
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin: 0;
}

@media screen and (max-width: 1310px) { // Tablet
  .content-how-it-works__item{
    width: 233px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 719px){  // Mobile
  .content-how-it-works__title{
    text-align: center;
  }

  .content-how-it-works__list{
    flex-direction: column;
  }
  
  .content-how-it-works__item:last-child{
    margin-bottom: 0;
  }
  
  .content-how-it-works__item{
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .content-how-it-works__item:last-child{
    margin: 0 auto;
  }

  .content-how-it-works__list-title{
    text-align: center;
    width: auto;
  }

  .content-how-it-works__list-desc{
    text-align: center;
  }

  .content-how-it-works__elemet-01::before{
    margin: 0 auto;
  }

  .content-how-it-works__coffee-link{
    margin: 0 auto;
  }
}
