.our-commitment {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 168px;
  align-items: center;
  margin-bottom: 256px;
}

.our-commitment__block {
  margin-left: auto;
}

.our-commitment__title {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-family: "Fraunces 9pt Soft";
  color: #333D4B;
  margin-bottom: 32px;
}

.our-commitment__desc {
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  width: 540px;
  margin: 0;
}

.our-commitment__img {
  border-radius: 8px;
  background-image: url(/img/about-us/our-commitment.png);
  background-repeat: no-repeat;
  height: 520px;
  width: 445px;
}



@media screen and (max-width: $tablet) {
  .our-commitment__desc {
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    width: 339px;
    margin: 0;
  }

  .our-commitment {
    margin-bottom: 304px;
  }

  .our-commitment__title {
    font-size: 32px;
    line-height: 48px;
  }

  .our-commitment__img {
    background-image: url(/img/about-us/our-commitment-tablet.png);
    width: 281px;
    height: 470px;
  }
}

@media screen and (max-width: $mobile) {
  .our-commitment {
    flex-direction: column-reverse;
  }

  .our-commitment__img {
    background-image: url(/img/about-us/our-commitment-mobile.png);
    width: 327px;
    height: 400px;
  }

  .our-commitment__block {
    margin-top: 48px;
    align-items: center;
    margin-left: 0;
  }

  .our-commitment__title {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }

  .our-commitment__desc {
    text-align: center;
  }
}